

NET "CLK" LOC = B8;
NET "LD0" LOC = A9;
NET "LD1" LOC = B9;
NET "LD2" LOC = A10;
NET "LD3" LOC = C9;
NET "LD4" LOC = C12;
NET "LD5" LOC = A13;
NET "LD6" LOC = C13;
NET "LD7" LOC = D12;
NET "Sig" LOC = B2;

NET "CLK" TNM_NET = "USER_CLOCK";
TIMESPEC TS_USER_CLOCK = PERIOD "USER_CLOCK" 50 MHz;



NET "RESET" LOC = G12;
